<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="emailAddress" value="fake@example.com" />
		<add key="emailPassword" value="fake password" />
		<add key="imapHost" value="imap.example.com" />
		<add key="smtpHost" value="smtp.example.com" />
		<add key="msyncPath" value="msync"/>
	</appSettings>
</configuration>